<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Dashboard | Simple - Responsive Bootstrap 4 Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Responsive bootstrap 4 admin template" name="description" />
  <meta content="Coderthemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <!-- App css -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />

</head>

<body>

  <!-- Begin page -->
  <div id="wrapper">


    <!-- Topbar Start -->
    <%-include('header')%>
      <!-- end Topbar --> <!-- ========== Left Sidebar Start ========== -->
      <%-include('sidebar')%>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="header-title mb-3">Welcome!</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box widget-inline">
                                <div class="row">
                                    <div class="col-xl-3 col-sm-6 widget-inline-box">
                                        <div class="text-center p-3">
                                            <h2 class="mt-2">
                                                <i class="text-primary mdi mdi-access-point-network mr-2"></i>
                                                <b>8954</b>
                                            </h2>
                                            <p class="text-muted mb-0">Lifetime total sales</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6 widget-inline-box">
                                        <div class="text-center p-3">
                                            <h2 class="mt-2">
                                                <i class="text-teal mdi mdi-airplay mr-2"></i>
                                                <b>7841</b>
                                            </h2>
                                            <p class="text-muted mb-0">Income amounts</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6 widget-inline-box">
                                        <div class="text-center p-3">
                                            <h2 class="mt-2">
                                                <i class="text-info mdi mdi-black-mesa mr-2"></i>
                                                <b>6521</b>
                                            </h2>
                                            <p class="text-muted mb-0">Total users</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="text-center p-3">
                                            <h2 class="mt-2">
                                                <i class="text-danger mdi mdi-cellphone-link mr-2"></i>
                                                <b>325</b>
                                            </h2>
                                            <p class="text-muted mb-0">Total visits</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card-box">
                                <h5 class="mt-0 font-14">Total Revenue</h5>
                                <div class="text-center">
                                    <ul class="list-inline chart-detail-list">
                                        <li class="list-inline-item">
                                            <p class="font-weight-semibold">
                                                <i class="fa fa-circle mr-2 text-primary"></i>Series A
                                            </p>
                                        </li>
                                        <li class="list-inline-item">
                                            <p class="font-weight-semibold">
                                                <i class="fa fa-circle mr-2 text-muted"></i>Series B
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div id="dashboard-bar-stacked" class="morris-chart" dir="ltr" style="height: 300px;"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-box">
                                <h5 class="mt-0 font-14">Sales Analytics</h5>
                                <div class="text-center">
                                    <ul class="list-inline chart-detail-list">
                                        <li class="list-inline-item">
                                            <p class="font-weight-semibold">
                                                <i class="fa fa-circle mr-2 text-primary"></i>Mobiles
                                            </p>
                                        </li>
                                        <li class="list-inline-item">
                                            <p class="font-weight-semibold">
                                                <i class="fa fa-circle mr-2 text-info"></i>Tablets
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div id="dashboard-line-chart" class="morris-chart" dir="ltr" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box">
                                <h5 class="mt-0 font-14 mb-3">Contacts</h5>
                                <div class="table-responsive">
                                    <table class="table table-hover mails m-0 table table-actions-bar table-centered">
                                        <thead>
                                            <tr>
                                                <th style="min-width: 95px;">
                                                    <div class="checkbox checkbox-single checkbox-primary">
                                                        <input type="checkbox" class="custom-control-input" id="action-checkbox">
                                                        <label class="custom-control-label" for="action-checkbox">&nbsp;</label>
                                                    </div>
                                                </th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Products</th>
                                                <th>Start Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                                        <input id="checkbox2" type="checkbox">
                                                        <label for="checkbox2"></label>
                                                    </div>
                                                    <img src="assets/images/users/avatar-2.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                </td>
                                                <td>Tomaslau</td>
                                                <td>
                                                    <a href="#" class="text-muted">tomaslau@dummy.com</a>
                                                </td>
                                                <td>
                                                    <b><a href="#" class="text-dark"><b>356</b></a></b>
                                                </td>
                                                <td>01/11/2003</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                                        <input id="checkbox1" type="checkbox">
                                                        <label for="checkbox1"></label>
                                                    </div>
                                                    <img src="assets/images/users/avatar-1.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                </td>
                                                <td>Chadengle</td>
                                                <td>
                                                    <a href="#" class="text-muted">chadengle@dummy.com</a>
                                                </td>
                                                <td>
                                                    <b><a href="#" class="text-dark"><b>568</b></a></b>
                                                </td>
                                                <td>01/11/2003</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                                        <input id="checkbox3" type="checkbox">
                                                        <label for="checkbox3"></label>
                                                    </div>
                                                    <img src="assets/images/users/avatar-3.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                </td>
                                                <td>Stillnotdavid</td>
                                                <td>
                                                    <a href="#" class="text-muted">stillnotdavid@dummy.com</a>
                                                </td>
                                                <td>
                                                    <b><a href="#" class="text-dark"><b>201</b></a></b>
                                                </td>
                                                <td>12/11/2003</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                                        <input id="checkbox4" type="checkbox">
                                                        <label for="checkbox4"></label>
                                                    </div>
                                                    <img src="assets/images/users/avatar-4.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                </td>
                                                <td>Kurafire</td>
                                                <td>
                                                    <a href="#" class="text-muted">kurafire@dummy.com</a>
                                                </td>
                                                <td>
                                                    <b><a href="#" class="text-dark"><b>56</b></a></b>
                                                </td>
                                                <td>14/11/2003</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                                        <input id="checkbox5" type="checkbox">
                                                        <label for="checkbox5"></label>
                                                    </div>
                                                    <img src="assets/images/users/avatar-5.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                </td>
                                                <td>Shahedk</td>
                                                <td>
                                                    <a href="#" class="text-muted">shahedk@dummy.com</a>
                                                </td>
                                                <td>
                                                    <b><a href="#" class="text-dark"><b>356</b></a></b>
                                                </td>
                                                <td>20/11/2003</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                                        <input id="checkbox6" type="checkbox">
                                                        <label for="checkbox6"></label>
                                                    </div>
                                                    <img src="assets/images/users/avatar-6.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                                </td>
                                                <td>Adhamdannaway</td>
                                                <td>
                                                    <a href="#" class="text-muted">adhamdannaway@dummy.com</a>
                                                </td>
                                                <td>
                                                    <b><a href="#" class="text-dark"><b>956</b></a></b>
                                                </td>
                                                <td>24/11/2003</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





            <!-- Right bar overlay-->
            <div class="rightbar-overlay"></div>


            <!-- Vendor js -->
            <script src="/assets/js/vendor.min.js"></script>

            <script src="/assets/libs/morris-js/morris.min.js"></script>
            <script src="/assets/libs/raphael/raphael.min.js"></script>

            <script src="/assets/js/pages/dashboard.init.js"></script>

            <!-- App js -->
            <script src="/assets/js/app.min.js"></script>

</body>

</html>