<div class="left-side-menu">

  <div class="user-box">
    <div class="float-left">
      <img src="/assets/images/users/avatar-1.png" alt="" class="avatar-md rounded-circle">
    </div>
    <div class="user-info">
      <a href="#">
        <%=adminName%>
      </a>
      <p class="text-muted m-0">Administrator</p>
    </div>
  </div>

  <!--- Sidemenu -->
  <div id="sidebar-menu">

    <ul class="metismenu" id="side-menu">

      <li class="menu-title">Navigation</li>

      <li>
        <a href="/admin">
          <i class="ti-home"></i>
          <span> Dashboard </span>
        </a>
      </li>

      <li>
        <a href="/admin/sales">
          <i class="ti-printer"></i>
          <span> Sales </span>
        </a>
      </li>

      <li>
        <a href="/admin/users">
          <i class="ti-user"></i>
          <span> Users </span>
        </a>
      </li>

      <li>
        <a href="/admin/orders">
          <i class="ti-receipt"></i>
          <span> Orders </span>
        </a>
      </li>

      <li>
        <a href="/admin/categories">
          <i class="ti-view-list-alt"></i>
          <span> Category </span>
        </a>
      </li>

      <li>
        <a href="/admin/brands">
          <i class="ti-flag"></i>
          <span> Brand </span>
        </a>
      </li>

      <li>
        <a href="/admin/products">
          <i class="ti-package"></i>
          <span> Products </span>
        </a>
      </li>

      <li>
        <a href="/admin/coupon">
          <i class="ti-ticket"></i>
          <span> Coupons </span>
        </a>
      </li>

      <li class="has-submenu">
        <a href="javascript: void(0);">
          <i class="ti-gift"></i>
          <span> Offers </span>
          <span class="menu-arrow"></span>
        </a>
        <ul class="submenu">
          <li><a href="/admin/offer/productOffer"><i class="ti-package"></i> Product Offers</a></li>
          <li><a href="/admin/offer/categoryOffer"><i class="ti-tag"></i> Category Offers</a></li>
          <li><a href="/admin/offer/referral"><i class="ti-link"></i> Referral Offer</a></li>
        </ul>
      </li>

    </ul>

  </div>
  <!-- End Sidebar -->

  <div class="clearfix"></div>

</div>


<style>
  .has-submenu:hover .submenu {
    display: block;
  }

  .submenu {
    display: none;
    list-style-type: none;
    padding-left: 0;
  }

  .submenu li {
    padding: 10px 15px;
  }

  .submenu li a {
    color: #333;
    text-decoration: none;
  }
</style>