<footer class="footer-mobile container w-100 px-5 d-md-none bg-body">
  <div class="row text-center">
    <div class="col-4">
      <a href="/" class="footer-mobile__link d-flex flex-column align-items-center">
        <svg class="d-block" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <use href="#icon_home" />
        </svg>
        <span>Home</span>
      </a>
    </div><!-- /.col-3 -->

    <div class="col-4">
      <a href="/cart" class="footer-mobile__link d-flex flex-column align-items-center">
        <svg class="d-block" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <use href="#icon_cart" />
        </svg>
        <%if(userData){%>
          <span class="cart-amount d-block position-absolute js-cart-items-count"><%= userData.Cart.length %></span>
            <%}%>
        <span>Cart</span>
      </a>
    </div><!-- /.col-3 -->

    <div class="col-4">
      <a href="/wishlist" class="footer-mobile__link d-flex flex-column align-items-center">
        <div class="position-relative">
          <svg class="d-block" width="18" height="18" viewBox="0 0 20 20" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <use href="#icon_heart" />
          </svg>
        </div>
        <span>Wishlist</span>
      </a>
    </div><!-- /.col-3 -->
  </div><!-- /.row -->
</footer>
