<footer class="footer-mobile container w-100 px-5 d-md-none bg-body">
  <div class="row text-center">
    <div class="col-4">
      <a href="https://uomo-html.flexkitux.com/" class="footer-mobile__link d-flex flex-column align-items-center">
        <svg class="d-block" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <use href="#icon_home" />
        </svg>
        <span>Home</span>
      </a>
    </div><!-- /.col-3 -->

    <div class="col-4">
      <a href="https://uomo-html.flexkitux.com/" class="footer-mobile__link d-flex flex-column align-items-center">
        <svg class="d-block" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <use href="#icon_hanger" />
        </svg>
        <span>Shop</span>
      </a>
    </div><!-- /.col-3 -->

    <div class="col-4">
      <a href="https://uomo-html.flexkitux.com/" class="footer-mobile__link d-flex flex-column align-items-center">
        <div class="position-relative">
          <svg class="d-block" width="18" height="18" viewBox="0 0 20 20" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <use href="#icon_heart" />
          </svg>
          <span class="wishlist-amount d-block position-absolute js-wishlist-count">3</span>
        </div>
        <span>Wishlist</span>
      </a>
    </div><!-- /.col-3 -->
  </div><!-- /.row -->
</footer>
<!-- Customer Login Form -->
<div class="aside aside_right overflow-hidden customer-forms" id="customerForms">
  <div class="customer-forms__wrapper d-flex position-relative">
    <div class="customer__login">
      <div class="aside-header d-flex align-items-center">
        <h3 class="text-uppercase fs-6 mb-0">Login</h3>
        <button class="btn-close-lg js-close-aside ms-auto"></button>
      </div><!-- /.aside-header -->

      <form action="/signin" method="POST" class="aside-content">
        <div class="form-floating mb-3">
          <input name="Email" type="email" class="form-control form-control_gray" id="customerNameEmailInput"
            placeholder="name@example.com">
          <label for="customerNameEmailInput">Email *</label>
        </div>

        <div class="pb-3"></div>

        <div class="form-label-fixed mb-3">
          <label for="customerPasswordInput" class="form-label">Password *</label>
          <input name="password" id="customerPasswordInput" class="form-control form-control_gray" type="password"
            placeholder="********">
        </div>

        <div class="d-flex align-items-center mb-3 pb-2">
          <div class="form-check mb-0">
            <input name="remember" class="form-check-input form-check-input_fill" type="checkbox" value=""
              id="flexCheckDefault">
            <label class="form-check-label text-secondary" for="flexCheckDefault">Remember me</label>
          </div>
          <a href="reset_password.html" class="btn-text ms-auto">Lost password?</a>
        </div>

        <button class="btn btn-primary w-100 text-uppercase" type="submit">Log In</button>

        <div class="customer-option mt-4 text-center">
          <span class="text-secondary">No account yet?</span>
          <a href="login_register.html#register-tab" class="btn-text js-show-register">Create Account</a>
        </div>
      </form>
    </div><!-- /.customer__login -->

    <div class="customer__register">
      <div class="aside-header d-flex align-items-center">
        <h3 class="text-uppercase fs-6 mb-0">Create an account</h3>
        <button class="btn-close-lg js-close-aside btn-close-aside ms-auto"></button>
      </div><!-- /.aside-header -->

      <form action="/signup" method="POST" class="aside-content">
        <div class="form-floating mb-4">
          <input name="Name" type="text" class="form-control form-control_gray" id="registerUserNameInput"
            placeholder="Fullname">
          <label for="registerUserNameInput">Fullname *</label>
        </div>

        <div class="pb-1"></div>

        <div class="form-floating mb-4">
          <input name="Email" type="email" class="form-control form-control_gray" id="registerUserEmailInput"
            placeholder="user@company.com">
          <label for="registerUserEmailInput">Email address *</label>
        </div>

        <div class="pb-1"></div>

        <div class="form-floating mb-4">
          <input name="Contact" type="number" class="form-control form-control_gray" id="Contact"
            placeholder="+919874563210">
          <label for="Contact">Contact number *</label>
        </div>

        <div class="pb-1"></div>

        <div class="form-label-fixed mb-4">
          <label for="registerPasswordInput" class="form-label">Password *</label>
          <input name="Password" id="registerPasswordInput" class="form-control form-control_gray" type="password"
            placeholder="*******">
        </div>

        <p class="text-secondary mb-4">Your personal data will be used to support your experience throughout this
          website, to manage access to your account, and for other purposes described in our privacy policy.</p>

        <button class="btn btn-primary w-100 text-uppercase" type="submit">Register</button>

        <div class="customer-option mt-4 text-center">
          <span class="text-secondary">Already have account?</span>
          <a href="#" class="btn-text js-show-login">Login</a>
        </div>
      </form>
    </div><!-- /.customer__register -->
  </div><!-- /.customer-forms__wrapper -->
</div><!-- /.aside aside_right -->