

<header id="header" class="header header-fullwidth header-transparent-bg">
  <div class="container">
    <div class="header-desk header-desk_type_1">
      <div class="logo">
        <a href="/">
          <img src="../images/logo.png" alt="PapasMenLogo" class="logo__image d-block">
        </a>
      </div><!-- /.logo -->

      <nav class="navigation">
        <ul class="navigation__list list-unstyled d-flex">
          <li class="navigation__item">
            <a href="/allProducts" class="navigation__link">NEW</a>
          </li>
          <% for(key=0;key<categoryData.length;key++){%>
            <li class="navigation__item">
              <a href="/category?id=<%= categoryData[key]._id %>" class="navigation__link"><%=categoryData[key].Name %></a>
            </li>
            <%}%>
        </ul><!-- /.navigation__list -->
      </nav><!-- /.navigation -->

      <div class="header-tools d-flex align-items-center">
        <div class="header-tools__item hover-container">
          <div class="js-hover__open position-relative">
            <a class="js-search-popup search-field__actor" href="#">
              <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_search" /></svg>
              <i class="btn-icon btn-close-lg"></i>
            </a>
          </div>

          <div class="search-popup js-hidden-content">
            <form action="/searchProduct" method="GET" class="search-field container">
              <p class="text-uppercase text-secondary fw-medium mb-4">What are you looking for?</p>
              <div class="position-relative">
                <input class="search-field__input search-popup__input w-100 fw-medium" type="text" name="keyword" placeholder="Search products">
                <button class="btn-icon search-popup__submit" type="submit">
                  <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_search" /></svg>
                </button>
                <button class="btn-icon btn-close-lg search-popup__reset" type="reset"></button>
              </div>

            </form><!-- /.header-search -->
          </div><!-- /.search-popup -->
        </div><!-- /.header-tools__item hover-container -->

        <div class="header-tools__item hover-container">
          <a class="header-tools__item " href="/profile">
            <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_user" /></svg>
          </a>
        </div>
        <a href="/cart" class="header-tools__item header-tools__cart">
          <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_cart" /></svg>
          <%if(userData){%>
            <span class="cart-amount d-block position-absolute js-cart-items-count"><%= userData.Cart.length %></span>
              <%}%>
        </a>

        <a href="/wishlist" class="header-tools__item header-tools__cart">
          <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
          <%if(userData){%>
            <span class="cart-amount d-block position-absolute js-cart-items-count"><%= userData.Wishlist.length %></span>
              <%}%>
        </a>
      </div><!-- /.header__tools -->
    </div><!-- /.header-desk header-desk_type_1 -->
  </div><!-- /.container -->
</header>

