<div class="col-lg-3">
  <ul class="account-nav">
    <li><a href="/profile" class="menu-link menu-link_us-s">Dashboard</a></li>
    <li><a href="/profile/orders" class="menu-link menu-link_us-s">Orders</a></li>
    <li><a href="/profile/address" class="menu-link menu-link_us-s">Addresses</a></li>
    <li><a href="account_edit.html" class="menu-link menu-link_us-s">Account Details</a></li>
    <li><a href="account_wishlist.html" class="menu-link menu-link_us-s">Wishlist</a></li>
    <li><a href="/signout" class="menu-link menu-link_us-s">Logout</a></li>
  </ul>
</div>